#sdCNum {
  white-space: pre;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}
hr {
    border: none;
    height: 2px;
    background-color: #F8F8FF; /* Modern Browsers */
}
h1{
  font-size: 30px;
}
h2{
  margin: 8px;
}
.slots{
  font-size: 35px;
}
.getDirections{
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background-color: turquoise;
}
.sidebar{
  height: 100vh;
  width: 30%;
  position:fixed;
  z-index: 1;
  top: 8%;
  right:0;
  background-image: linear-gradient(120deg, #ffe6e6 0%, #ffe4e1 100%);
  opacity: 1;
  overflow:auto;
  transition: 0.3s;

  /* resize: horizontal;
  overflow: auto; */
}

.sidebarnext{
  height:90vh;
  width: 30%;
  position:fixed;
  z-index: 1;
  top: 50px;
  right:0;
  background-color: white;
  opacity: 1;
  overflow-x: hidden;
  transition: 0.3s;
  overflow-y: scroll;
  padding-bottom: 50px;

  display:none;
}

.sidebar a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover{
  color: turquoise;
}
.sidebar .btn-close{
  position: left;
  padding: 10px 10px 10px 5px;
  top: 10px;
  right:50px;
  color: black;
  font-size: 35px;
  margin-right: 25px;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.logo1 {
  margin: 1rem auto;
  max-width: 20%;
  border-radius: 90%;
  position: relative;
  right:10%;
  top:10%;
}


p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}

.filterbtn{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* border:10px solid black; */
}

.text{
  margin:15px;
  margin-top: 20px;
  text-align: left;
  font-size: 15px;
}

.btns{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.distSort, .priceSort, .slotSort, .nParkSort ,.cParkSort{
  /* border:5px solid black; */
  padding:10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #FFB6C1;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.distSort:hover, .priceSort:hover, .slotSort:hover, .nParkSlot:hover , .cParkSort:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
  /* //background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
  /* //background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%); */
  max-width: 500px;
  height: 100px;

  margin-left: auto;
  margin-right: auto
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}




@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

/*.card:nth-child(2n) h1 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1 {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1 {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}*/


/* added */


.card div{
  /* border:1px solid black; */
  padding:10px;
  color:whitesmoke;
  font-size:10px;
}

.header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.walkingIcon{
  height:40px;
  width:40px;
  display: flex;
  float:left;
  margin-right:10px;
}

.bodyR, h1{
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
}
.bodyR, h3{
  font-size: 28px;
  display: flex;
  flex-wrap: wrap;
}

.bodyR{
  display: flex;
  justify-content: space-between;
}

.carIcon{
  height:20px;
  width:25px;
  display: flex;
  float:left;
  margin-right:3px;
}

.rootsdnbar{
  display: flex;
}

.sdnHead{
  justify-content: center;
  display:flex;
  background-color: #ffe4e1;
  height:110px;
  /* box-shadow: 2px 4px 25px rgba(0, 0, 0, .1); */
}

.sdnHead h1{
  font-family: Trebuchet MS;
  font-size: 40px;
  margin-left: 15px;
}

.sdnBody{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sdnBodyR{
  display: flex;
  justify-content: space-between;
}

.sdnBodyR h1{ 
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.sdnBodyL{
  display: flex;
  justify-content: space-between;
}

.sdnBodyL h1{
  padding:10px;
  font-size: 30px;
  text-align: center;
}

.sdnDBar{
  display: flex;
  justify-content: center;
}

.sdnButton{
  height: 40px;
  width: 300px;
  background-color: #ffe4e1;
  border: none;
  border-radius: 12px;
}

.sdnFooter{
  padding-top: 0px;
  margin: 5px;
  white-space: normal;
  position: relative;
}

.sdnFooter h1{
  justify-content: center;
  font-size: 20px;
}

.sdnAdd{
  padding-top: 5px;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.sdnAdd h1{
  font-size: 23px;
  padding: 5px;
}

#sdnAddt {
  font-size:25px;  
  padding: 5px;
  padding-top: 8px;
  margin: 2px;
}

.locIcon{
  height:40px;
  width:45px;
  display: flex;
  position: relative;
  top: 11px;
}

.horiLine{
  position: relative;
  top: 20px;
}

.buttondiv {
  margin-top: 8px;
  padding-top: 10px;
  background-color: #ffe4e1;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);

}

#closeSidebar {
  margin-left: 3px;
}

.bg-modal {
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 2;
}
.modal-content{
  position: relative;
  width: 70%;
  height: 90%;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  margin: 15px;
  display:flex;
  justify-content: space-between;
  padding: 20px;
}
.btn-modal-close{
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  padding:0;

  cursor: pointer;
}
.modal-content .compare-content{

  height: 90%;
  width: 40%;
  padding: 5px;
  padding-top: 14px;
  margin-top: 20px;
  margin: 20px 5px 30px 5px;
  background-color: rgba(255, 192, 203, .2);
  border: solid 2px black;
  text-align: left;
  overflow-y: scroll;

}
.compare-section{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  text-align: left;
  margin: 5px;
}
.modal-content, h3{
  font-size: 23px;
  margin: 10px;

}
.add-section{
  display: none;
  align-items: left;
  top: 0px;
}
.compare-btn{
  display: none;
  width: 100px;
  margin-left:5px;
}
.checkbox1{
  padding-top: 20px;
}
label{
  width: auto;
  display: inline-block;

}

.horiLine{
  height: 2px;
  background: #d5d5d5	;
}

.price-container{
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.priceCalculator{
  font-weight:bold;
  font-size:20px;
}

.price-result-container{
  margin-top: 10px;
  font-weight:bold;
  text-align: center;
  font-size:20px;
  color: brown;
}
